<library path="toolpath_reader">
    <class name="ToolpathServer" type="toolpath_reader.toolpath_server_gui.ToolpathServer" base_class_type="rqt_gui_py::Plugin">
        <description>
            A Python GUI plugin to load toolpaths
        </description>
        <qtgui>
            <group>
                <label>Robot Assisted Manufacturing Tools</label>
                <icon type="theme">folder</icon>
                <statustip>Plugins related to the Robot Assisted Manufacturing project.</statustip>
            </group>
            <label>Toolpath Server</label>
            <icon type="theme">applications-other</icon>
            <statustip>A Python GUI plugin to load toolpaths.</statustip>
        </qtgui>
    </class>
</library>
